{% extends "base.html" %}
{% load static %}
{% block title %}Ophelia{% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mb-4">
        <div>
            <img class="banner-img" src="{% static 'images/homebild.jpg' %}" alt="banner">
        </div>
        <div>
            <img class="banner-img" src="{% static 'images/blacktruffel.jpg' %}" alt="banner">
        </div>
        <div>
            <img class="banner-img" src="{% static 'images/space.jpg' %}" alt="banner">
        </div>
           
    </div>
</div>
{% endblock %}